package design

import . "goa.design/goa/v3/dsl" //nolint:staticcheck

var BearerAuth = BearerSecurity("bearer", func() {
	Description(
		"Authenticate with an access token supplied as Authorization: Bearer [token]. " +
			"Clients obtain tokens from an external OIDC provider.",
	)
})

var _ = API("DIPs", func() {
	Title("DIPs API")
	Description("The DIPs API is used to request DIP creation and retrieve DIP details.")
	Version("0.1.0")
})

var DIPID = Type("DIPID", String, func() {
	Description("DIPID uniquely identifies a DIP.")
	Format(FormatUUID)
	Example("3f38d6f4-7b19-4db8-8d7d-693b84a9a2fb")
})

var DocKey = Type("DocKey", String, func() {
	Description("DocKey is the document key used to create a DIP.")
	MinLength(1)
	Example("CH-000001")
})

var DIPStatus = Type("DIPStatus", String, func() {
	Description("DIPStatus represents the current status of a DIP.")
	Enum("queued", "in progress", "done", "failed")
	Example("done")
})

var DateTime = Type("DateTime", String, func() {
	Description("DateTime represents an RFC3339 timestamp.")
	Format(FormatDateTime)
	Example("2026-05-27T15:04:05Z")
})

var ObjectKey = Type("ObjectKey", String, func() {
	Description("ObjectKey represents the object store key for a DIP.")
	MinLength(1)
	Example("dips/3f38d6f4-7b19-4db8-8d7d-693b84a9a2fb.zip")
})

var ProblemDetails = Type("ProblemDetails", func() {
	Description("ProblemDetails represents an RFC 9457 problem details object.")
	Attribute("type", String, "The type field contains a URI reference that identifies the problem type.", func() {
		Format(FormatURI)
		Default("about:blank")
		Example("about:blank")
	})
	Attribute("title", String, "The title field contains a short, human-readable summary of the problem type.", func() {
		Example("Bad Request")
	})
	Attribute("detail", String, "The detail field contains a human-readable explanation specific to this problem occurrence.", func() {
		Example("The request body is missing the docKey field.")
	})
	Attribute("status", Int32, "The status field contains the HTTP status code generated by the origin server.", func() {
		Example(400)
	})
	Attribute("instance", String, "The instance field contains a URI reference that identifies this problem occurrence.", func() {
		// The instance field is optional in RFC 9457, but we include it in the
		// schema for completeness. For now, we don't generate instance values in
		// the implementation, so we remove it from the example to avoid confusion.
		Meta("openapi:example", "false")
	})
	Required("type", "title", "status", "detail")
})

var BadRequestProblem = Type("BadRequestProblem", func() {
	Description("BadRequestProblem represents an invalid request problem.")
	problemDetailsType("Bad Request", "The request body is missing the docKey field.", StatusBadRequest)
})

var UnauthorizedProblem = Type("UnauthorizedProblem", func() {
	Description("UnauthorizedProblem represents an authentication problem.")
	problemDetailsType("Unauthorized", "The bearer token is missing or invalid.", StatusUnauthorized)
})

var NotFoundProblem = Type("NotFoundProblem", func() {
	Description("NotFoundProblem represents a missing resource problem.")
	problemDetailsType("Not Found", "The requested DIP does not exist.", StatusNotFound)
})

var InternalServerErrorProblem = Type("InternalServerErrorProblem", func() {
	Description("InternalServerErrorProblem represents an unexpected server problem.")
	problemDetailsType("Internal Server Error", "An error occurred when attempting to process the DIP request.", StatusInternalServerError)
})

var _ = Service("DIPs", func() {
	Description("The DIPs service requests DIP creation and retrieves DIP details.")
	Security(BearerAuth)

	Error("bad_request", BadRequestProblem)
	Error("unauthorized", UnauthorizedProblem)
	Error("not_found", NotFoundProblem)
	Error("internal_server_error", InternalServerErrorProblem)

	HTTP(func() {
		Response("bad_request", StatusBadRequest, problemDetailsResponse())
		Response("unauthorized", StatusUnauthorized, problemDetailsResponse())
		Response("internal_server_error", StatusInternalServerError, problemDetailsResponse())
	})

	Method("create", func() {
		Description("The create method requests DIP creation for a document key.")
		Payload(func() {
			BearerTokenField(1, "token", String, "The token field contains the OIDC bearer token.")
			Field(2, "docKey", DocKey, "The docKey field contains the document key used to create the DIP.")
			Required("token", "docKey")
		})
		Result(func() {
			Field(1, "id", DIPID, "The id field contains the identifier assigned to the DIP.")
			Required("id")
		})

		HTTP(func() {
			POST("/dips")
			Header("token:Authorization")
			Body(func() {
				Attribute("docKey")
			})
			Response(StatusAccepted)
		})
	})

	Method("show", func() {
		Description("The show method retrieves DIP details.")
		Payload(func() {
			BearerTokenField(1, "token", String, "The token field contains the OIDC bearer token.")
			Field(2, "id", DIPID, "The id field contains the DIP identifier.")
			Required("token", "id")
		})
		Result(func() {
			Field(1, "id", DIPID, "The id field uniquely identifies the DIP.")
			Field(2, "docKey", DocKey, "The docKey field contains the document key used to create the DIP.")
			Field(3, "status", DIPStatus, "The status field contains the current DIP status.")
			Field(4, "created_at", DateTime, "The created_at field contains the time when the DIP was requested.")
			Field(5, "started_at", DateTime, "The started_at field contains the time when DIP processing started.")
			Field(6, "completed_at", DateTime, "The completed_at field contains the time when DIP processing completed.")
			Field(7, "object_key", ObjectKey, "The object_key field contains the object store key for the completed DIP.")
			Required("id", "docKey", "status", "created_at")
		})

		HTTP(func() {
			GET("/dips/{id}")
			Header("token:Authorization")
			Response(StatusOK)
			Response("not_found", StatusNotFound, problemDetailsResponse())
		})
	})
})

func problemDetailsType(title, detail string, status int32) {
	// Each Goa error uses a distinct type so Goa can derive the error name
	// without adding an ErrorName discriminator to the RFC 9457 body.
	//
	// Goa initializes every named Type with an openapi:typename matching the Go
	// type name. These error types should not become separate OpenAPI schemas:
	// they only exist to give Goa distinct errors and examples. Replace Goa's
	// generated typename so every response references the shared ProblemDetails
	// schema instead. RemoveMeta is required because Meta appends values and the
	// OpenAPI generator reads the first openapi:typename value.
	RemoveMeta("openapi:typename")
	Meta("openapi:typename", "ProblemDetails")
	Reference(ProblemDetails)
	Attribute("type")
	Attribute("title")
	Attribute("detail")
	Attribute("status")
	Attribute("instance")
	Required("type", "title", "status", "detail")
	Example(func() {
		Value(Val{
			"type":   "about:blank",
			"title":  title,
			"detail": detail,
			"status": status,
		})
	})
}

func problemDetailsResponse() func() {
	return func() {
		ContentType("application/problem+json")
	}
}
